#header {
   
    height: 50px;
    margin-top:0;
}
#logo {
    margin-left:150px;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 900;
    float:left;
    color: #157dec;
}
span {
    margin-left:-25px;
    margin-top: 0px;
    font-size: 70px;
    color: #157dec;
    float: left;
}
#navbar
{
padding: 0 1px 1px;
font: bold 12px Verdana, sans-serif;
clear: left;
}

#navbar li
{
list-style: none;
display: inline;
padding-left: 5px;
}

#navbar li a
{
padding: 0.25em 0.5em 0.25em 0.75em;
background: #ccccdd;
margin-left:20px;
text-decoration: none;
color:black;
font-size: 25px;
font-style:italic;
font-weight: bold;
}

#navbar li a:hover
{
color: white;
background: black;
}
#myinfo p{
    display: block;
    clear: left;
}
#image img {
    margin-top:10px;
	margin-right: 120px;
	height:230px;
	width:230px;
	float: right;
	border: 2px solid white;
	border-radius: 100%;
}
hr {
    margin-top: 50px;
    width:90%;
}
