#header {
   
    height: 50px;
    margin-top:0;
}
#logo {
    margin-left:150px;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 900;
    float:left;
    color: #157dec;
}
span {
    margin-left:-25px;
    margin-top: 0px;
    font-size: 70px;
    color: #157dec;
    float: left;
}
#navbar
{
padding: 0 1px 1px;
font: bold 12px Verdana, sans-serif;
clear: left;
}

#navbar li
{
list-style: none;
display: inline;
padding-left: 5px;
}

#navbar li a
{
padding: 0.25em 0.5em 0.25em 0.75em;
background: #ccccdd;
margin-left:20px;
text-decoration: none;
color:black;
font-size: 25px;
font-style:italic;
font-weight: bold;
}

#navbar li a:hover
{
color: white;
background: black;
}
#myinfo p{
    display: inline;
    margin-top:40px;
    color:#25383c;
    font-weight:bold;
    font-size:30px;
    float:right;
    max-width:75%;
}
#image img {
    margin-top:10px;
	margin-right: 120px;
	height:230px;
	width:230px;
	float: right;
	border: 0px solid white;
	border-radius: 100%;
}
hr {
    margin-top: 50px;
    width:80%;
}
#circle {
	position: relative;
	display: inline-block;
	margin-left:100px;
	margin-right:30px;
	height: 175px;
	width: 175px;
	border-radius: 100%;
	border: 0px solid white;
	margin-top: 25px;
	text-align: center;
	background-color: #157dec;
}
#circle h2 {
    padding-top:35px;
    font-weight:bold;
    color:white;
}
#lefh {
    color: white;
    height:30px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
#lef {
    float:left;
    margin-top:30px;
    background-color: #6C2DC7;
    width:100%;
}
#interests {
  width: 100%;
  background-color: #157dec;
  margin-bottom:0px;
  float:left;
}

#interests ul
{
margin: 0;
padding: 0;
list-style-image: url("list.png");
font-size: 24px;
}
#interests ul li {
list-style-image: url("list.png");
display: block;
padding: 2px 2px 2px 24px;
background-color: #157dec;
}
#interests li:hover
{
background-color: #F60;
color: #333;
}

#p1 {
    font-family:allura;
    line-height:30px;
    font-size:20px;
    font-weight:500;
     float:left;
     width:45%;
     margin-left:4%;
}

#p2 {
    font-size:20px;
    font-family:allura;
    line-height:30px;
    font-weight:500;
    float:right;
    width:40%;
    margin-right:2%;
}
#grand {
    font-size:50px;
    margin-left:37%;
    margin-top:55px;
}
#pdiv {
	float:left;
    background-image:url(download.jpg);
    background-size: 100% 100%;
}
footer {
clear:both;
}
footer li
{
list-style: none;
display: inline;
padding-left: 5px;
}

footer li a img
{
padding: 0.25em 0.5em 0.25em 0.75em;
display: inline;
height:35px;
width:35px;
margin-left:28px;
}
footer p {
	text-align:right;
}
}
