* {
	font: normal 1em "Lucida Sans Unicode",sans-serif;
	margin: 0; padding: 0;
}
a {
	color: #362;
}
a:hover, .footer a:hover {
	color: #111;
}
body {	
	background: #769359 url(Stuff/bg.jpg) repeat-y center top;
	color: #443;
	margin: 0;
}
p{
	margin-bottom: 1.2em;
	font-size:24px;
}
h1 {
	font: normal 1.2em "Lucida Sans Unicode",sans-serif;
}
.divider {
	background: url(Stuff/divider.gif) no-repeat;
	height: 24px;
	margin: 16px 0;
}
.clearer {
	clear: both;
}
.container {
	font-size: 1em;
	margin: 0 auto;
	width: 590px;
}

/* header */
.header {
	background: #597F93 url(Stuff/header.jpg) no-repeat center top;
	border-bottom: 1px solid #CCC;
	height: 180px;
	text-align: center;
}
.header h1 {
	color: #FFF;
	font: normal 3em "Trebuchet MS",sans-serif;
	line-height: 180px;
}

/* navigation */
.navigation {
	height: 36px;
	margin: 0 auto;
	width: 632px;
}
.navigation a {
	background: #B67C3D;
	color: #FFF;
	float: left;
	font: bold 1.2em serif;
	height: 39px; 
	letter-spacing: 1px;
	line-height: 39px;
	text-align: center;
	text-decoration: none;
	width: 126px;
}
.navigation a:hover {
	color: #FFF;
	background: #9F703A;
}
.content {
	padding: 18px 0;
}
.content h1 {
	color: #553;
	font-size: 1.4em;
	margin-bottom: 4px;
}
.footer {
	color: #886;
	font-size: 0.9em;
	padding-bottom: 12px;
	text-align: center;
}
.footer a {
	color: #664;
}
